:root{
    --dark-color: #1B152B;
    --white-color:  #FFFFFF;
    --gray-color: #7A7D9C;
    --purple-color: #7f56d9;
    --light-color: #EEE2FE;
    --border-color:#EFF0F6;
    --dark-gray: #8B857F;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #F9FAFB;
    padding: 0px;
    margin: 0px;
}
h1, h2, h3{
    font-family: 'Inter', sans-serif;
}
p{
    font-family: 'Manrope', sans-serif;
}
.main{
    width: 100%;
    padding: 32px 8px 32px 8px ;
    margin: 0px;
}
.main-head{
    display: inline-flex;
    width: 100%;
    height: fit-content;
    background-color: var(--dark-color);
    padding: 5px 11px;
    border-radius: 47px;
}
.main-head>img{
    margin-top: 0.25rem;
    height: 14px;
    object-fit: cover;
}
.menu-list{
    margin: auto;
    display: none;
}
.menu-list ul{
    padding: 0rem;
}
.menu-list a{
    text-decoration: none;
    color: var(--white-color);
}
.menu-list li{
    font-size: 1rem;
    list-style-type: none;
    display: inline;
}
.heading{
    color: var(--white-color);
    font-weight: 700;
    font-size: 0.669rem;
    height: fit-content;
}
.heading>h1{
    margin: 0rem;
}
.menu{
    margin-left: auto;
    height: fit-content;   
}
.menu>button{
    text-align: center;
    border-radius: 1.25rem;
    padding: 0.5rem 1.875rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
    background-color: var(--purple-color);
    border: 2px solid var(--purple-color);
    display: none;
}
.main-heading>h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.81rem;
    text-align: center;
    color: var(--dark-color);
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.main-heading>p{
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--gray-color);
    text-align: center;
}
.action{
    text-align: center;
    margin-top: 0.5rem;
}
.sign{
    border-radius: 1.25rem;
    border: 2px solid var(--dark-color);
    padding: 0.3125rem 0.6875rem;
    font-size: 0.75rem;
    width: fit-content;
    color: var(--white-color);
    background-color: var(--dark-color);

}
.contact{
    border-radius: 1.25rem;
    border: 2px solid var(--purple-color);
    padding: 0.3125rem 0.6875rem;
    font-size: 0.75rem;
    width: fit-content;
    color: var(--white-color);
    background-color: var(--purple-color);
    margin-left: 0.9375rem;
}
.hero-image{
    margin-top: 1rem;
    margin-bottom: 2.875rem;
    width: 100%;
    height: 15.312rem;
}
.hero-image>img{
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.users{
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem 3rem;
}
.num{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--purple-color);
}
.detail{
    font-size: 1rem;
    font-weight: 400;
    color: var(--purple-color);
}
.num>p{
    margin: 0px;
}
.detail>p{
    margin: 0px;
}
.new, .active, .satisfied{
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}
.feature{
    text-align: center;
    margin-top: 3.6875rem;
    padding: 0rem 0.5rem;
}
.feat{
    border-radius: 1.25rem;
    background-color: var(--light-color);
    border: 2px solid var(--light-color);
    color: var(--purple-color);
    font-size: 0.75rem;
}
.feature>h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.5rem;
    line-height: 1.81rem;
}
.feature>p{
    font-size: 0.75rem;
    color: var(--gray-color);
    font-weight: 400;
    margin-top: 1.25rem;
    line-height: 1.02rem;
}
.content-wrapper{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3.687rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
}
.innovation{
    background-image: radial-gradient(#E9D8FF, #FFFFFF00, #E9D8FF00);
    padding: 1.25rem;
    padding-bottom: 0rem;
    border-bottom: 1px solid var(--border-color);
    
}
.innovation>h1{
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.innovation>p{
    font-size: 1rem;
    line-height: 1.366rem;
    color: var(--gray-color);
    padding-bottom: 5.125rem;
}
.connectivity{
    background-image: radial-gradient(#E9D8FF, #FFFFFF00, #E9D8FF00);
    margin-top: 1.75rem;
    padding: 1.25rem;
    padding-bottom: 0rem;
    border-bottom: 1px solid var(--border-color);
}
.connectivity>h1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.1rem;
    margin-bottom: 1.5rem;
}
.connectivity>p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--gray-color);
    padding-bottom: 2.25rem;
}
.interface{
    background-image: radial-gradient(#E9D8FF, #FFFFFF00, #E9D8FF00);
    margin-top: 1.75rem;
    padding: 1.25rem;
    padding-bottom: 0rem;
}
.interface>h1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.58rem;
    margin-bottom: 1.5rem;
}
.interface>p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--gray-color);
    padding-bottom: 2rem;
}
.view button{
    border-radius: 1.25rem;
    border: 2px solid var(--purple-color);
    padding: 0.5rem 1.875rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    width: fit-content;
    color: var(--white-color);
    background-color: var(--purple-color);
    display: none;
}
.view p1{
    font-size: 1rem;
}
.view a{
    display: none;
    text-decoration: none;
    width: fit-content;
}
.mission{
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    margin-bottom: 3.687rem;
}
.statement{
    border-radius: 1.25rem;
    border: 2px solid var(--light-color);
    background-color: var(--light-color);
    color: var(--purple-color);
    padding: 0.25rem 1rem;
    font-size: 0.75rem;
}
.image{
    width: 100%;
    height: 28rem;
    border-radius: 2rem;
    margin-top: 0.5rem;
}
.image>img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: left;
}
.mission>h1{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}
.mission>p{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.02rem;
    color: var(--gray-color);
    margin-bottom: 2.375rem;
}
.mission-action>a{
    text-decoration: none;
    font-size: 0.75rem;
    color: var(--purple-color);
    padding-right: 0.9375rem;
}
.mission-action>button{
    padding: 0.312rem o.6875rem;
    border-radius: 1.25rem;
    font-size: 0.75rem;
    color: var(--white-color);
    background-color: var(--purple-color);
    border: 2px solid var(--purple-color);
}
.client{
    text-align: center;
    margin-bottom: 1.5rem;
}
.client>button{
    padding: 0.25rem 1rem;
    border-radius: 1.25rem;
    font-size: 0.75rem;
    color: var(--purple-color);
    background-color: var(--light-color);
    border: 2px solid var(--light-color);
}
.client>h1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.81rem;
    padding: 1.25rem;
    padding-bottom: 0.5rem;
    margin: 0rem;
}
.client>p{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.02rem;
    color: var(--gray-color);
    margin: 0rem;
}
.logo-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.testimonial-section{
    margin-top:3.6875rem;
    text-align: center;
}
.testimonial-section>button{
    font-size: 0.75rem;
    padding: 0.25rem 1.375rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: var(--purple-color);
    background-color: var(--light-color);
    border: 2px solid var(--light-color);
}
.testimonial-section>h1{
    font-size: 1.5rem;
    font-weight: 500;
}
.testimonial-content{
    border: 1px solid var(--border-color);
    text-align: left;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.testimonial-image{
    width: 100%;
    height: 20.93rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.testimonial-image>img{
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
.testimonial-content>p{
    font-size: 1rem;
    color: var(--gray-color);
    line-height: 1.21rem;
    letter-spacing: -0.96px;
    margin-bottom: 1.25rem;
}
.testimonial-content :is(h2, h3){
    font-size: 1rem;
    margin-bottom: 0.3125rem;
    margin-top: 0rem;
}
.testimonial-content>nav{
    text-align: right;
    margin-top: 0.9375rem;
}
.testimonial-content>nav>i{
    height: 1.25rem;
    width: 1.25rem;
}
.trusted{
    margin-bottom: 1.5rem;
    height: fit-content;
}
.trusted>p{
    font-size: 1rem;
    color: var(--gray-color);
    margin: 0rem;
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: var(--white-color);
}
hr{
    width: 100%;
    color: var(--gray-color);
    height: 1px;
    margin: 0rem;
    position: relative;
    top: 0.5rem;
    z-index: -1;
}
.company-logo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 3.6875rem;
    width: 100%;
    gap: 1rem;
}
.sublogo{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.air{
    justify-self: center;
    width: 100%;
}
.out{
    justify-self: center;
    width: 100%;
}
.razo{
    justify-self: center;
    width: 100%;
}
.discord{
    justify-self: center;
    width: 63%;
}
.drop{
    justify-self: center;
    width: 63%;
}
.blogs-wrapper{
    text-align: center;
    margin-bottom: 1rem;
}
.blogs-wrapper>button{
    font-size: 0.75rem;
    padding: 0.25rem 1.375rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: var(--purple-color);
    background-color: var(--light-color);
    border: 2px solid var(--light-color);
}
.blogs-wrapper>h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0rem;
}
.blogs-1, .blogs-2{
    width: 100%;
    padding: 1.25rem;
    text-align: left;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.blogs-1>img{
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1.25rem;
}
.blogs-2>img{
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1.25rem;
}
.blog-action{
    text-decoration: none;
    font-size: 1rem;
    color: var(--white-color);
    padding: 0.25rem 0.5rem;
    border-radius: 2.9375rem;
    background-color: var(--purple-color);
}
.blogs-wrapper h2{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}
.blogs-wrapper p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color);
}
.read-more{
    width: 100%;
    text-align: right;
}
.read{
    text-decoration: none;
    color: var(--dark-gray);
    border-bottom: 1px solid black;
}
.action-view{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.action-view>button{
    padding: 0.5rem 1.875rem;
    margin-right: 1.5rem;
    border-radius: 1.25rem;
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--purple-color);
    border: 2px solid var(--purple-color);
}
.action-view>a{
    padding-right: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}
.action-view button, .view a{
    display: block;
}
.subscribe{
    width: 100%;
    height: 35.625rem;
    position: relative;
}
.subscribe>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.sub{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    text-align: center;
    width: 100%;
    padding: 0.75rem;
}
.sub>h3{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0rem;
}
.sub>p{
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}
.sub>input{
    padding-top: 0.968rem;
    padding-bottom: 0.968rem;
    padding-left: 1.06rem;
    border-radius: 0.75rem;
    border: 2px solid var(--white-color);
    width: 100%;
}
.sub>input::placeholder{
    font-size: 0.875rem;
}
.sub>button{
    padding: 0.8125rem 1.8rem 0.68rem 1.75rem;
    background-color: var(--purple-color);
    color: var(--white-color);
    font-size: 0.75rem;
    border-radius: 0.625rem;
    border: 2px solid var(--purple-color);
}
footer{
    margin-top: 2.5rem;
    background-color: var(--purple-color);
    padding: 3.68rem 1.375rem 2rem 1.375rem;
}
.footer-heading{
    display: flex;
    border-top: 1px solid var(--white-color);
}
.footer-heading>h1{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--white-color);
}
.footer-heading>img{
    width: 1.7rem;
    height: 1.5rem;
    margin-top: 0.75rem;
}
.footer-list>ul{
    list-style-type: none;
    padding-left: 0rem;
    padding-bottom: 1.375rem;
    margin-bottom: 0.812rem;
    border-bottom: 1px solid var(--white-color);
}
.footer-list>ul>li{
    display: inline-block;
    font-size: 1rem;
    padding-left: 0rem;
}
.footer-list a{
    text-decoration: none;
    color: var(--white-color);
    padding-left: 1.25rem;
}
.icon>p{
    font-size: 0.75rem;
    color: var(--white-color);
}
.icon>.icons{
    display: none;
}
@media (min-width:532px){
    .main-head{
        padding: 0.75rem 1.25rem;
    }
    .menu-list{
        display: inline;
        height: fit-content;
    }
    .menu-list>ul{
        margin: 0rem;
    }
    .main-head>img{
        height: 20px;
        width: 24px;
    }
    .heading{
        font-size: 0.75rem;
    }
    .hero-image{
        height: 15.312rem;
    }
    .hero-image>img{
        border-radius: 4.09rem;
    }
    .users{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
    }
    .new, .active, .satisfied{
        width: 33.3%;
        border-right: 1px solid var(--border-color);
        border-bottom: none;
    }
    .satisfied{
        border-bottom: none;
        border-right: none;
    }
    .feat{
        font-size: 1rem;
        padding: 0.25rem 0.75rem;
    }
    .feature>h1{
        font-size: 1.75rem;
        margin-top: 1.25rem;
    }
    .feature>p{
        font-size: 1rem;
        margin-bottom: 3.125rem;
    }
    .content-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1.93rem 2.06rem;
        margin-bottom: 1.875rem;
    }
    .interface{
        display: none;
    }
    .innovation>p, .connectivity>p{
        padding-bottom: 2.5rem;
    }
    .connectivity{
        margin-top: 0rem;
        border-left: 1px solid var(--border-color);
    }
    .innovation, .connectivity{
        border-bottom: none;
    }
    .view{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }
    .view button, .view a{
        display: block;
    }
    .view a:hover{
        cursor: pointer;
        color: var(--dark-color);
    }
    .view a:active{
        background-color: var(--gray-color);
        color: var(--white-color);
        padding: 0.5rem;
    }
    .mission>h1{
        font-size: 1.75rem;
        line-height: 2.7rem;
    }
    .mission>p{
        font-size: 1rem;
    }
    .statement{
        font-size: 1rem;
        padding: 0.5rem 1.875rem;
    }
    .mission-action>a{
        font-size: 1rem;
    }
    .mission-action>button{
        font-size: 1rem;
        padding: 0.5rem 1.875rem;
    }
    .client>button{
        font-size: 1rem;
        padding: 0.5rem 1.875rem;
    }
    .client>h1{
        font-size: 1.75rem;
    }
    .client>p{
        font-size: 1rem;
    }
    .logo-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .desc, .slack, .shopify{
        justify-self: center;
    }
    .elastic{
        justify-self: end;
    }
    .loom{
        grid-column: 3 / 4;
        justify-self: start;
    }
    .testimonial-section>button{
        font-size: 1rem;
        margin-bottom: 1.18rem;
    }
    .testimonial-section>h1{
        font-size: 2.25rem;
        margin-top: 0rem;
    }
    .testimonial-content{
        padding: 1.625rem 2.375rem;
    }
    .testimonial-image{
        margin-bottom: 2.875rem;
    }
    .testimonial-content>h2{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .testimonial-content>h3{
        font-size: 1.25rem;
        font-weight: 400;
    }
    .testimonial-content>nav{
        margin-top: 1.125rem;
    }
    .blogs-wrapper>button{
        font-size: 1rem;
        margin-bottom: 1.875rem;
    }
    .blogs-wrapper>h1{
        font-size: 2.25rem;
        margin-bottom: 1.875rem;
    }
    .sub>button{
        position: relative;
        top: -80%;
        left: 49%;
        transform: translate(-50%, -152%);
    }
    .sub>img{
        width: 3.625rem;
        height: 3.5rem;
        margin-bottom: 2.125rem;
    }
    .sub>h3{
        font-size: 2rem;
        margin-top: 0rem;
        margin-bottom: 1.5rem;
    }
    .sub>p{
        font-size: 1.25rem;
        margin-bottom: 3.125rem;
    }
    .sub{
        padding: 4rem;
    }
    footer{
        padding:2.5rem 4.25rem 2rem 4.45rem;
    }
    .footer-heading{
        float: left;
        border: none;
    }
    .footer-list{
        text-align: right;
        border-top: 1px solid var(--white-color);
    }
    .footer-list li{
        padding-left: 0.5rem;
    }
    .icon{
        display: flex;
        justify-content: space-between;
    }
    .icon>.icons{
        display: block;
        padding-top: 0.75rem;
    }
    .icons>i{
        margin-left: 1.25rem;
    }
}
@media (min-width:768px){
    .main{
        padding:1rem 2rem ;
    }
    .heading{
        font-size: 1rem;
    }
    .main-head>img{
        margin-top: 0.4rem;
        height: 1.5rem;
        width: 1.75rem;
    }
    .menu>button{
        display: block;
        margin-top: 0.2rem;
    }
    .menu>img{
        display: none;
    }
    .main-heading>h2{
        font-size: 3rem;
        line-height: 3.63rem;
        letter-spacing:-0.2rem;
    }
    .main-heading>p{
        font-size: 1rem;
        letter-spacing: -0.04rem;
    }
    .sign , .contact{
        font-size: 1rem;
        padding: 0.5rem 1.875rem;
    }
    .users{
        justify-content: space-around;
        padding: 1rem;
    }
    .num{
        font-size: 2.25rem;
    }
    .detail{
        font-size: 1.25rem;
    }
    .feature{
        margin-top: 5rem;
    }
    .feature>h1{
        font-size: 2.25rem;
    }
    .mission{
        margin-bottom: 5rem;
    }
    .mission>h1{
        font-size: 2.25rem;
        line-height: 2.72rem;
        margin: 1.25rem 0rem;
    }
    .mission>p{
        font-size: 1rem;
    }
    .client>h1{
        font-size: 2.25rem;
        padding-bottom: 1.25rem;
    }
    .testimonial-content{
        margin-bottom: 3.125rem;
    }
    .air, .out, .razo, .discord, .drop{
        width: 10.18rem;
        height: 2.9rem;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;
    }
    .sub>h3{
        font-size: 3rem;
    }
    .sub{
        padding: 8rem;
    }
}
@media (min-width:1200px){
    .main{
        padding: 0.5rem 6.9375rem;
    }
    .heading{
        font-size: 1.25rem;
    }
    .main-head>img{
        margin-top: 0.6rem;
    }
    .menu-list>ul>li{
        margin-right: 1rem;
    }
    .heading.h1{
        font-size: 1.25rem;
    }
    .main-heading>h2{
        font-size: 4.5rem;
        margin-top: 4rem;
        line-height: 5.4rem;
    }
    .hero-image{
        width: 100%;
        height: 21.125rem;
    }
    .hero-image>img{
        width: 100%;
        height: 100%;
        border-radius: 16rem;
        margin-bottom: 3rem;
    }
    .users{
        background-color: var(--white-color);
    }
    .num{
        font-size: 3rem;
    }
    .detail{
        font-size: 1.5rem;
    }
    .feature{
        margin-top: 6.25rem;
    }
    .feature>h1{
        font-size: 3rem;
        margin-bottom: 1.25rem;
    }
    .content-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: var(--white-color);
    }
    .content-wrapper img{
        width: 2.125rem;
        height: 2.125rem;
    }
    .interface{
        display: block;
        margin-top: 0rem;
        padding-top: 1.25rem;
        border-left: 1px solid var(--border-color);
    }
    .mission{
        background-color: var(--white-color);
        margin-bottom: 6.25rem;
    }
    .mission>.image{
        width: 40%;
        height: 10rem;
        float: right;
    }
    .image>img{
        width: 100%;
        height: 200%;
        object-fit: cover;
    }
    .mission>h1{
        width: 55%;
        float: left;
    }
    .mission>p{
        float: left;
        width: 55%;
    }
    .mission-action{
        clear: both;
    }
    .client{
        margin-bottom: 3.125rem;
    }
    .client>h1{
        font-size: 3rem;
    }
    .logo-wrapper{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 6.25rem;
    }
    .elastic{
        justify-self: center;
    }
    .loom{
        grid-column: 5 / 6;
        justify-self: center;
    }
    .testimonial-section{
        margin-bottom: 6.25rem;
    }
    .testimonial-section>h1{
        font-size: 3rem;
    }
    .testimonial-content{
        padding: 4.125rem 2.468rem 2.875rem 2.468rem;
    }
    .testimonial-image{
        width: 55%;
        margin-right: 2.875rem;
        float: left;
    }
    .company-logo{
        width: 65%;
        margin: auto;
    }
}
